<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='format.css') }}">
</head>
<body></body>
    <div id="chart_container">
        <canvas id="tempChart"></canvas>   
        <style>
        #tempChart {
            height: 400 !important;
        }
        </style> 
    </div>

    <script type = "text/javascript">

        var ctx = document.getElementById('tempChart').getContext('2d');

        var tempChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: 'Temperature',
                    data: [],
                    backgroundColor: '#af4c96',
                    borderColor: '#af4c96',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        ticks: {
                            fontColor: 'white'
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            fontColor: 'white'
                        }
                    }]
                }

            }
        })

        var intervalID = setInterval(updateValues,1000)
        
        var temp;
        function updateValues() {
            $.getJSON('/get_data',
            function(data) {
                temp = data.temperature[data.temperature.length - 1];
                
                var now = new Date();
                var h = now.getHours().toString().padStart(2, '0');
                var m = now.getMinutes().toString().padStart(2, '0');
                var s = now.getSeconds().toString().padStart(2, '0');
                var time = `${h}:${m}:${s}`;

                tempChart.data.labels.push(time);
                tempChart.data.datasets[0].data.push(temp);
                tempChart.update();
            });
        }   
    </script>
    
    <div id="pattern_controls">
        <div class = "buttons">
            <button onclick="sendLEDPattern(1)">Rainbow</button>
            <button onclick="sendLEDPattern(2)">Blink</button>
            <button onclick="sendLEDPattern(3)">Chase</button>
        </div>  
        <h2>Current Pattern: None</h2>
        <h2>Temperature Control Mode: Inactive</h2>
        <h2>Current Delay Time: 200ms</h2>
        <script> 
            function sendLEDPattern(value){
                let p = document.querySelector('h2');
                let name;
                switch(value) {
                    case 1:
                        name = "Rainbow";
                        break;
                    case 2:
                        name = "Blink";
                        break;
                    case 3:
                        name = "Chase";
                        break;
                }
                p.textContent = `Current Pattern: ${name}`;
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'},
                    body: `button=${value}`
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                })
            }
        </script>
    </div>
</body>